body {
    margin: 2%;
    padding: 0 10%;
    border: 1px solid gray;
    background-image: url("olive-branch.jpg");
    background-size: cover;
    background-color: #F6F1E3;
    color: #3B332E;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 80px;
}

#apps, #mains {
}

h1 {
    background-color: #E5E5E5;
    padding: 10px;
}

.summer-menu {
    font-family: "Monsieur La Doulaise", serif;
    font-style: italic;
    color: #FCA311;
}

.new-item {
    color: maroon;
}

.dish {
    font-variant: small-caps;
}

.price {
    text-align: right;
}

p {
    font-style: italic;
}

h2 {
    color: #8C8377;
}